.admin-label {
  display: flex;
  flex-direction: column;
}

.admin-buttonSave {
  background-color: var(--secondaryClr);
  border: none;
  font-family: AvenirLTStd-Book;
  border-radius: 6px;
  color: #ffffff;
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 35px;
  padding: 7px 96px;
  cursor: pointer;
}

.admin-formController {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  /* position: fixed;
  top: 17rem; */
}

.admin-changePassword {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  width: 12rem;
  line-height: 20px;
  color: #232323;
  line-height: 29px;
  outline: none;
  border-bottom: #ee5c4d 3px solid;
  font-family: ProximaNovaSoft-Regular;
  margin-bottom: 4rem;
  margin-top: 2rem;
  /* position: fixed; */
}

.admin-input {
  display: flex;
  padding: 9px;
  font-size: 18px;
  font-family: ProximaNovaSoft-Regular;
  background: #ffffff;
  border: 1px solid #d5d4dc;
  border-radius: 5px;
  outline: none;
}

.admin-input:focus {
  display: flex;
  padding: 9px;
  font-size: 18px;
  font-family: ProximaNovaSoft-Regular;
  background: #ffffff;
  border: 2px solid var(--secondaryClr);
  border-radius: 5px;
}

/* .admin-input:focus {
  border: 8px solid var(--secondaryClr);
} */

/* .admin-input:hover {
  display: flex;
  padding: 9px;
  font-size: 18px;
  font-family: ProximaNovaSoft-Regular;
  background: #ffffff;
  border: 1px solid var(--secondaryClr);
  border-radius: 5px;
} */

.admin-label {
  display: flex;
  flex-direction: column;
  font-family: ProximaNovaSoft-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding-bottom: 4px;
  color: #232323;
}

.admin-formContainer {
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 1280px) {
  .admin-formController {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 1025px) {
  .admin-formContainer {
    flex-direction: column;
  }

  .admin-formController {
    align-items: center;
  }

  .admin-input {
    width: 22rem;
  }
}