.chanePassword-mainText {
  font-family: ProximaNovaSoft-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
  padding: 1rem 1rem 3rem 2rem;
}
.changePAssword-button {
  background-color: var(--secondaryClr);
  border: none;
  font-family: ProximaNovaSoft-Regular;
  width: 278px;
  height: 44px;
  border-radius: 6px;
  color: #ffffff;
  font-family: var(--primaryFont);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  margin-top: 60px;
  cursor: pointer;
}
