.dashBoard-topBar {
  position: fixed;
  left: 18rem;
  right: 0px;
  z-index: 1;

}

.topBar-addCourse {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: var(--dashboardFont);
  font-family: ProximaNovaSoft-Regular;
  /* padding-left: 24px; */
}

.topBar-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem 1.7rem 3rem;
  background: white;
}

.topBar-headerIcons {
  display: flex;
  gap: 5rem;
}

.topBar-publish {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: var(--secondaryClr);
  padding: 7px 14px;
  margin: 1rem 0rem;
  border-radius: 2px;
  cursor: pointer;
}

img.topBar-profileIcon {
  position: relative;
  border-radius: 50%;
  width: 43.25px;
  height: 42px;
}

.topBar-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.topBar-publishText {
  font-family: ProximaNovaSoft-Regular;
  color: white;
}

.topBar-profileText {
  font-family: ProximaNovaSoft-Regular;
  text-align: center;
  /* display: flex; */
  text-transform: capitalize;
}

.topbar-modalContainer {
  background-color: red;
}

/* ::-webkit-scrollbar {
  display: none;
} */

img.topbar-closeImg {
  width: 23px;
  cursor: pointer;
}

.EZDrawer .EZDrawer__checkbox:checked~.EZDrawer__container {
  width: 35% !important;
}

.topBar-drawer {
  background-color: var(--primaryClr);
  min-height: 100vh;
  padding: 2rem 0rem;
  color: white;
}

.topBar-drawerClose {
  padding: 0rem 2rem;
}

.topBar-drawerContainer {
  font-family: ProximaNovaSoft-Regular;
}

.supertopBar-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem 1.7rem 3rem;
  background: white;
}

.SupertopBar-imageContainer {
  display: none;
}

@media only screen and (max-width: 939px) {
  .topBar-Header {
    padding: 1rem 1rem 0.7rem 1rem !important;
    display: flex !important;
    position: fixed !important;
    z-index: 4 !important;
    left: 15rem !important;
    right: 0 !important;
    background: white !important;
    justify-content: flex-end !important;
  }

  .topBar-addCourse {
    display: none;
  }

  .topBar-headerIcons {
    gap: 2rem;
  }

  .EZDrawer .EZDrawer__checkbox:checked~.EZDrawer__container {
    width: 40% !important;
  }
}

@media only screen and (max-width: 1193px) {
  .EZDrawer .EZDrawer__checkbox:checked~.EZDrawer__container {
    width: 46% !important;
  }
}

@media only screen and (max-width: 800px) {
  .EZDrawer .EZDrawer__checkbox:checked~.EZDrawer__container {
    width: 100% !important;
  }

  .topBar-publish {
    display: none;
  }
}

@media only screen and (max-width: 855px) {
  .supertopBar-Header {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem 1.7rem 3rem;
    background: white;
  }

  .SupertopBar-imageContainer {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    justify-content: center;
    background: white;
  }
}

@media only screen and (max-width: 855px) {}

@media only screen and (max-width: 855px) {}

@media only screen and (max-width: 855px) {}

@media only screen and (max-width: 855px) {}

@media only screen and (max-width: 855px) {}